{{- $scratch := newScratch}}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (.Date.Format (default "January 2, 2006" .Site.Params.DateFormat))) }}
{{- end -}}

{{- if (.Param "Event") -}}
{{- $scratch.Add "meta" (slice (.Param "Event")) }}
{{- end -}}

{{- if (.Param "Audience") -}}
{{- $scratch.Add "meta" (slice (.Param "Audience")) }}
{{- end -}}

{{- with ($scratch.Get "meta")}}
{{- delimit . " · "}}
{{- end }}

 · 🗣
{{- if (.Param "SlideId") -}}
 · 🎙
{{- end -}}
{{- if (.Param "VideoURL") -}}
 · 🎥
{{- end -}}

